@model IEnumerable<CarSell.Models.Model>;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br /><br />
<br /><br />
<div class="row">
    <div class="col-6">
        <h2 class="text-info">List of models</h2>
    </div>
    <div class="col-6 text-right">
        <a class="btn btn-info" asp-action="Create">Add New Model</a>
    </div>
    <br /><br />
    <div class="col-12">
        <table class="table table-striped border">
            <tr class="table-info">
                <th>
                    @Html.DisplayNameFor(m => m.Brand)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.Name)
                </th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(m => item.Brand.Name)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Name)
                </td>
                <partial name="_OptionsPartial" model="item.Id" />
            </tr>
            }
        </table>
    </div>
</div>



